In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/jidekickpush/Downloads/brasilian-houses-to-rent/houses_to_rent.csv')

In [3]:
df.head();

In [4]:
df.shape

(6080, 14)

In [5]:
df_v2=pd.read_csv('/Users/jidekickpush/Downloads/brasilian-houses-to-rent/houses_to_rent_v2.csv')

In [6]:
df_v2.head();

In [7]:
df_v2.shape

(10692, 13)

In [8]:
df.describe();

In [9]:
df.isnull().sum();

In [10]:
df_v2.isnull().sum();

In [11]:
df.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [12]:
df_v2.dtypes

city                   object
area                    int64
rooms                   int64
bathroom                int64
parking spaces          int64
floor                  object
animal                 object
furniture              object
hoa (R$)                int64
rent amount (R$)        int64
property tax (R$)       int64
fire insurance (R$)     int64
total (R$)              int64
dtype: object

In [15]:
df['hoa']=='R$ Seminfo '

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Name: hoa, Length: 6080, dtype: bool

In [25]:
df.loc[df['hoa']=='R$Seminfo']

Empty DataFrame
Columns: [Unnamed: 0, city, area, rooms, bathroom, parking spaces, floor, animal, furniture, hoa, rent amount, property tax, fire insurance, total]
Index: []

In [38]:
df['hoa']=df['hoa'].apply(lambda x: x.replace('Seminfo','NaN'))

In [39]:
df['hoa']=='NaN'

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Name: hoa, Length: 6080, dtype: bool

In [34]:
df.dropna([df['hoa']=='Seminfo'], axis=0)

TypeError: dropna() got multiple values for argument 'axis'

In [23]:
df.loc[df['hoa']=='Incluso']

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
60,60,1,20,1,1,0,1,not acept,furnished,Incluso,"R$1,950",R$0,R$25,"R$1,975"
138,138,1,90,2,1,1,-,acept,not furnished,Incluso,"R$1,500",R$0,R$23,"R$1,523"
172,172,1,20,1,1,0,1,acept,furnished,Incluso,"R$2,060",R$0,R$27,"R$2,087"
226,226,1,122,3,4,3,5,acept,not furnished,Incluso,"R$4,500",R$0,R$58,"R$4,558"
461,461,0,462,4,7,4,-,acept,not furnished,Incluso,"R$5,000",R$590,R$76,"R$5,666"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,5553,1,300,5,6,2,-,not acept,not furnished,Incluso,"R$8,000",R$800,R$121,"R$8,921"
5591,5591,1,92,2,1,1,11,not acept,not furnished,Incluso,"R$6,860",R$0,R$87,"R$6,947"
5725,5725,1,45,1,1,1,-,not acept,not furnished,Incluso,"R$1,600",R$80,R$25,"R$1,705"
5852,5852,1,120,2,1,1,-,not acept,not furnished,Incluso,"R$3,500",R$100,R$53,"R$3,653"
6055,6055,0,306,3,2,2,-,acept,not furnished,Incluso,"R$2,500",R$422,R$38,"R$2,960"

In [14]:
df.loc[df['hoa']=='Seminfo'].count()/len(df)*100

Unnamed: 0        0.0
city              0.0
area              0.0
rooms             0.0
bathroom          0.0
parking spaces    0.0
floor             0.0
animal            0.0
furniture         0.0
hoa               0.0
rent amount       0.0
property tax      0.0
fire insurance    0.0
total             0.0
dtype: float64

For the column 'hoa', 119 rows as the value 'Seninfo' standing for 'no info'. Futhermore, there is no rational and mathematical explanation as it is up to the owner to charge specific consideration to the rent.
As those 119 rows represent less than 2% of the data, drop them won't signifanctly affect the analysis.

In [49]:
df.drop(df[df['hoa']=='Seminfo'].index, inplace = True)

In [51]:
df

In [21]:
lst=['hoa','rent amount','property tax','fire insurance','total']

In [22]:
for i in lst:
    df[i]=df[i].apply(lambda x: x.strip('R$'))
    df[i]=df[i].apply(lambda x: x.replace(',','').replace(' ','').replace('Incluso','0'))
    df[i]=df[i].astype(float)

ValueError: could not convert string to float: 'Seminfo'

In [15]:
df

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [16]:
df.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object